.wrap-block {
  text-align: center;
  padding: 0.4rem;

  &_theme_form {
    background: var(--fashion-ketnipz);
    border-radius: 1.3rem;
  }
}

.form_block {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background: var(--fashion-ketnipz);
  border-radius: 0.8rem;
  border: 4px double var(--fashion-pink);

  &__header {
    margin-top: -24%;
  }

  &__inputs {
    text-align: center;
  }

}

.header {
  color: var(--fashion-pink);
  display: inline-block;

  &_theme_form {
    background: var(--fashion-ketnipz);
    padding: 0 0.4rem;
    font-size: 1.8rem;
  }
}

.input-block {
  text-align: center;

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
  }

  &__inputs-item {
    border: 0px solid black;
    background: rgba(139, 140, 199, 0.5);
    color: #444444;

    width: 9rem;

    margin: 0.3rem;
    padding: 0.5rem;
    border-radius: 1.5rem;

    box-shadow: none;
    outline: none;
  }

  &__inputs-item:focus {
    box-shadow: none;
    outline: none;
  }

  &__inputs-error {
    font-size: 0.6rem;
    color: red;
    margin-bottom: 0.2rem;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.2rem;
  }

  &__btn-submit {
    color: red;
  }

  &__btn-extra {
    opacity: 0.8;
  }

  &__btn-extra:hover {
    opacity: 24;
  }
}

.button-wrap {
  padding-top: 0;
}

