div.wrap-block.wrap-block_theme_form
    div.main-block.main-block_theme_form
        div.main-block__header
            h1.header.header_theme_pink #{header}

        form.input-block
            div.input-block__inputs
                each i in inputs
                    input(name = i.name, type = i.type, placeholder = i.placeholder, class = i.className, value = i.value, accept = i.accept)
                    div.input-block__inputs-error
            div.input-block__buttons
                div.button-wrap
                    input(name = submit.name, type = submit.type, placeholder = submit.placeholder, class = submit.className, value = submit.value, accept = submit.accept)
                div.button-wrap.find-link
                    a(class = 'basic-btn input-block__btn-extra' href = btn.href) #{btn.text}




