@import "../js/components/Button/Button.css";
@import "../js/components/Menu/Menu.css";
@import "../js/components/Section/Section.css";
@import "../js/components/Link/Link.css";
@import "../js/components/Scoreboard/Scoreboard.css";
@import "../js/components/ChatMini/ChatMini.css";
@import "../js/components/Loader/Loader.css";
@import "../js/game/GameScene/GameInfoComponent/GameInfoComponent.css";
@import "../js/game/GameScene/css/GameScene.css";
@import "../js/game/GameScene/FinishGameComponent/FinishGameComponent.css";

:root {
    --fashion-blue: #c3c3e0;
    --fashion-ketnipz: #f3dfdf;
    --fashion-pink: #f4acb7;
    --fashion-brown: #9d8189;
    --button-shadow: #eecfcd;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'FashionFont', sans-serif;
}

body {
    background-color: var(--fashion-blue);
    overflow: hidden;
}

.container {
    display: block;
    height: 100vh;

}

.content {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

section {
}

.game_title {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.game_title__link {
    font-family: 'FashionFont', sans-serif;
    font-size: 3rem;
    color: var(--fashion-pink);
    /*color: #444;*/

    text-decoration: none;

    text-shadow: var(--fashion-brown) 0 0 3px;

    /*font-size: 2.5rem;*/
    /*color: #b8bec5;*/
}

/*.menu__play-button {*/
/*background: #317B22;*/
/*border-bottom: 4px solid #2A4D14;*/
/*}*/

.sub_buttons {
    display: flex;
}

.rules {
    width: 50%;
    align-items: center;

    display: flex;
    flex-direction: column;
}


.bordered_input {
    border: 1px solid black;

    width: 8rem;

    margin: 0.3rem;
    padding: 0.5rem;

    box-shadow: none;
    outline: none;
}

.bordered_input:focus {
    box-shadow: none;
    outline: none;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sub_link {
    font-size: smaller;
}

.page-indicator {
    border: 1px solid black;
    width: 2rem;
    margin: 0.3rem;
    padding: 0.5rem;
    display: inline-block;
    text-align: center;

}

@font-face {
    font-family: 'FashionFont';
    src: url('../fonts/Chalkboard.ttf');
    /*src: url('webfont.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('webfont.woff2') format('woff2'),                  !* Новейшие браузеры *!*/
    /*url('webfont.woff') format('woff'),                    !* Новые браузеры и IE9+ *!*/
    /*url('webfont.ttf')  format('truetype'),                !* Старые Safari, Android, iOS *!*/
    /*url('webfont.svg#svgFontName') format('svg');          !* Древние Safari, iOS, Android *!*/
    font-weight: bold;
    font-style: normal;
}