@import "../js/components/Button/Button.css";
@import "../js/components/Menu/Menu.css";
@import "../js/components/Section/Section.css";
@import "../js/components/Link/Link.css";
@import "../js/components/Scoreboard/Scoreboard.css";

* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.container {
	display: block;
	height: 100vh;

}

.content {
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

section {
}

.game_title {
	font-family: sans-serif;
	color: #000;

	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.game_title__link {
	font-family: sans-serif;
	color: #000;

	text-decoration: none;
}



.sub_buttons {
	display: flex;
}

.rules {
	width: 50%;
	align-items: center;
	
	display: flex;
	flex-direction: column;
}


.bordered_input {
	border: 1px solid black;

	width: 8rem;

	margin: 0.3rem;
	padding: 0.5rem;

	box-shadow: none;
	outline: none;
}

.bordered_input:focus {
	box-shadow: none;
	outline: none;
}

.login_form {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.sub_link {
	font-size: smaller;
}

.cute-btn {
	border: 1px solid black;

	width: 8rem;

	margin: 0.3rem;
	padding: 0.5rem;

	display: inline-block;

	text-decoration: none;

	text-align: center;
}

.page-indicator {
	border: 1px solid black;
	width: 2rem;
	margin: 0.3rem;
	padding: 0.5rem;
	display: inline-block;
	text-align: center;

}


