.game-scene__game-finish-component {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index: 50;
    background: #c3c3e0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    box-shadow: 0px 0px 54px 4px rgba(0,0,0,0.75);
}