.svg {
  height: 3.4rem;
  //margin: 1.2rem;
  //margin-left: 0.5rem;
  filter: drop-shadow(3px 3px 0px #f3d1cf);

  //@media (max-width: 850px) and (orientation: landscape), (max-width: 350px) and (orientation: portrait) {
  //  margin-top: 3rem;
  //}

}

.svg_theme_back {
  fill: var(--fashion-ketnipz);
  stroke-width: 1rem;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.04);
  }
}

.svg-link {
  z-index: 40;
  text-decoration: none;
  display: block;
}
