.svg {
  height: 3.4rem;
  margin: 1rem;
  filter: drop-shadow(3px 3px 0px #f3d1cf);

  @media (max-width: 850px) and (orientation: landscape) {
    margin-top: 3rem;
  }

}

.svg_theme_back {
  fill: var(--fashion-pink);
  //stroke: red;
  stroke-width: 1rem;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.04);
  }
}

.svg-link {
  text-decoration: none;
}
