.scoreboard {
    width: 100%;
    font-family: sans-serif;
    font-size: larger;
    /*border-bottom: 1px solid black;*/
}

.scoreboard_list {
    height: 16rem;
    width: 100%;
    padding: 0;
}

.scrolable {
    overflow-y: scroll;
}

.scoreboard_head {
    height: 4rem;

    border: 1px solid black;
}

.scoreboard_node {
    height: 3rem;

    border: 1px solid black;
    border-bottom: none;
}


.scoreboard_node:first-child {
    border-top: none;
}

.scoreboard_node:last-child {
    border-bottom: 1px solid black;
}

.scoreboard_node__position {
    flex: 1;
}

.scoreboard_node__name {
    flex: 6;
}

.scoreboard_node__scores  {
    flex: 1;
}

.scoreboard_head, .scoreboard_node{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 1rem;

    align-items: center;
}

.scoreboard__paginator {
    display: flex;
    justify-content: space-between;
}