.container, .game-scene, .game-canvas, .game-canvas__background {
    height: 100vh;
    width: 100vw;
    user-select: none;
    padding: 0;
    margin: 0;
}

.game-scene__back-button {
    position: absolute;
    top: 1%;
    left: 1%;
    opacity: 0.85;
    z-index: 20;
}

.game-canvas__background {
    background-image: url('/app/game/GameScene/img/magaz_blur_gray.png');
    background-size: cover;
    position: absolute;
    z-index: -1;
    overflow: hidden;

}


body {
    overflow: hidden;
}

.game-canvas {
    /*filter: saturate(150%);*/
}

.game-scene {
    position: relative;
    /*border: 20px solid white;*/
    /*box-sizing: border-box;*/
}

.pre-game__back-button {
    position: absolute;
    top: 1%;
    left: 1%;
    opacity: 0.85;
}

@media only screen and (orientation:portrait){



  .game-scene {

    transform: rotate(90deg);
    transform-origin: right top;
    position: absolute;
    top: 100%;
    right: 0;

  }

    .game-scene, .game-canvas, .game-canvas__background {
        height: 100vw;
        width: 100vh;
    }

    .game-canvas__background {
        /*background-image: url('../app/game/GameScene/test_pic.jpg');*/
        background-image: url('/app/game/GameScene/img/magaz_blur_gray.png');
        background-size: cover;
        //filter: blur(3px) grayscale(0.1);

        position: absolute;
        z-index: -1;
    }
}

.game-scene--blurred {
    filter: blur(5px);
}

.game-scene__back-button-wrap {
    position: absolute;
    top: 1%;
    left: 0.5rem;
    padding: 0;
    margin: 0;
}