.game-scene__game-timer {
  transform: translate(-50%, -50%);
  font-family: 'FashionFont', 'Arial', sans-serif;
  position: absolute;
  color: var(--fashion-red);
  border-radius: 50%;
  border: 5px solid var(--fashion-red);
  padding: 0 0.5rem;
  width: 1.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

