.cute-btn {
    background: var(--fashion-ketnipz);
    color: var(--fashion-brown);
    font-family: 'FashionFont', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border-bottom: 4px solid var(--button-shadow);

    padding-top: 0.8rem;
    width: 6rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    transition: all 0.3s ease;
    margin: 0.3rem;
    text-decoration: none;
}

.chat-mini-bth{
    z-index: 20;
    background: var(--fashion-ketnipz);
    color: var(--fashion-brown);
    font-family: 'FashionFont', sans-serif;
    font-weight: bold;
    font-size: 36px;
    border-radius: 10px;
    border-bottom: 4px solid var(--button-shadow);

    position: absolute;

    padding-top: 0.1rem;
    width: 4rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    transition: all 0.3s ease;
    bottom: 2%;
    left: 1%;
    text-decoration: none;
}

.chat-mini-bth:hover {
    transform: scale(1.03);
}

.chat-component-open-btn{
    background: var(--fashion-ketnipz);
    color: var(--fashion-brown);
    font-family: 'FashionFont', sans-serif;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
    /*border-bottom: 2px solid var(--button-shadow);*/

    /*position: absolute;*/

    padding-top: 0.4rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    /*top: 4px;*/
    justify-content: space-around;
    box-sizing: border-box;
    transition: all 0.3s ease;
    /*right: 2%;*/
    /*bottom: 2%;*/
    /*left: 1%;*/
    text-decoration: none;
}

.chat-component-open-btn:hover{
    background: var(--button-shadow);
}

.cute-btn:hover {
    transform: scale(1.03);
}

.cute-btn--w4rem {
    width: 4rem;
}

.cute-btn--w6rem {
    width: 6rem;
}

.cute-btn--w10rem {
    width: 10rem;
}

.cute-btn--h3rem {
    height: 3rem;
}

.cute-btn--h5rem {
    height: 5rem;
    padding-top: 1.8rem;
    font-size: 18;
}

.cute-btn--icon {
    padding-top: 1rem;
}
