/*.cute-btn {*/
    /*border: 1px solid black;*/

    /*width: 8rem;*/

    /*margin: 0.3rem;*/
    /*padding: 0.5rem;*/

    /*display: inline-block;*/

    /*text-decoration: none;*/

    /*text-align: center;*/
/*}*/

.cute-btn {
    background: var(--fashion-ketnipz);
    color: var(--fashion-brown);
    font-family: 'FashionFont', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border-bottom: 4px solid var(--button-shadow);

    padding-top: 0.8rem;
    width: 6rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    transition: all 0.3s ease;
    margin: 0.3rem;
    text-decoration: none;
}

.cute-btn:hover {
    transform: scale(1.03);
}

.cute-btn--w4rem {
    width: 4rem;
}

.cute-btn--w6rem {
    width: 6rem;
}

.cute-btn--w10rem {
    width: 10rem;
}

.cute-btn--h3rem {
    height: 3rem;
}

.cute-btn--h5rem {
    height: 5rem;
    padding-top: 1.8rem;
    font-size: 18;
}

.cute-btn--icon {
    padding-top: 1rem;
}
