%grid-base {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
}

.mainHeader{
  grid-area: hd;
  text-align: center;
}

.backButton {
  grid-area: bc;
  margin-left: 0.4rem;
  margin-top: 0.5rem;
}

.infoButton {
  grid-area: i;

}

.settingsButton {
  grid-area: st;
  margin-left: 0.7rem;

  @media (max-width: 380px) and (orientation: portrait) {
    margin-left: 0.2rem;
  }
}

.userBlock {
  grid-area: u;
  justify-self: right;
}

.content {
  grid-area: c;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.chat {
  grid-area: cht;
}

.grid{
  &_casual {
    @extend %grid-base;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content min-content auto;
    grid-template-areas:
            "bc . "
            "hd hd"
            "c c";
  }

  &_menu {
    @extend %grid-base;
    background: url(/img/main-menu.png) center no-repeat;
    background-size: 100vw 100vh;
    grid-template-columns: min-content min-content auto;
    grid-template-rows: min-content min-content auto;
    grid-template-areas:
            "st i u"
            "hd hd hd"
            "c c c";

    @media (max-width: 480px) and (orientation: portrait) {
      background-image: none;
    }

  }


}


