%grid-base {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
}

.mainHeader{
  grid-area: hd;
  text-align: center;

  @media (max-width: 850px) and (orientation: landscape) {
    display: none;
  }
}

.mainHeaderMenu {
  grid-area: hd;
  text-align: center;
}

.backButton {
  grid-area: bc;
  margin-left: 0.4rem;
  margin-top: 0.5rem;
}

.preGameBlock1 {
  grid-area: pg1;
  justify-self: right;
  margin-right: 1rem;
}

.preGameBlock2 {
  grid-area: pg2;
  justify-self: left;
  margin-left: 1rem;
}

.infoButton {
  grid-area: i;

}

.shopButton {
  grid-area: sh;

  @media (orientation: portrait) {
    margin-left: 2rem;
  }
}

.settingsButton {
  grid-area: st;
  margin-left: 0.7rem;

  @media (orientation: portrait) {
    margin-left: 0.2rem;
  }
}

.userBlock {
  grid-area: u;
  justify-self: right;
}

.content {
  grid-area: c;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.chat {
  grid-area: cht;
}

.grid {
  &_casual {
    @extend %grid-base;
    grid-template-columns: 4rem auto;
    grid-template-rows: min-content min-content auto;
    grid-template-areas: "bc u " "hd hd" "c c";

    @media (max-width: 850px) and (orientation: landscape) {
      grid-template-areas: "bc u" "hd hd" "c c";
    }
  }

  &_user-shop {
    @extend %grid-base;
    grid-template-columns: 4rem auto;
    grid-template-rows: min-content min-content auto;
    grid-template-areas: "bc u " "hd hd" "c c";

    @media (max-width: 850px) and (orientation: landscape) {
      grid-template-areas: "bc u" "hd hd" "c c";
    }
  }

  &_menu {
    @extend %grid-base;
    background: url(../../../img/main-menu.png) center no-repeat;
    background-size: 100vw 100vh;
    grid-template-columns: 4rem 4rem 5rem auto;
    grid-template-rows: min-content min-content auto;
    grid-template-areas: "st i sh u"
                          "hd hd hd hd" "c c c c";

    @media (orientation: portrait) {
      background-image: none;
      grid-template-columns: 4rem 4rem auto;
      grid-template-rows: min-content min-content min-content auto;
      grid-template-areas: "st i u"
                            "sh . ."
                            "hd hd hd"
                            "c c c";
    }

  }

  &_pregame {
    @extend %grid-base;
    grid-template-columns: min-content auto auto;
    grid-template-rows: min-content auto;
    grid-template-areas: "bc . ." "pg1 pg1 pg2";
    background: var(--fashion-blue);

    @media (max-width: 830px) and (orientation: landscape) {
      grid-template-areas: "bc pg1 pg2" ". pg1 pg2";
    }

    @media (orientation: portrait) {
      height: 100vw;
      grid-template-areas: "bc pg1 pg2" ". pg1 pg2";
    }
  }

  &_shop {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;

    margin-top: 0.7rem;
    margin-bottom: 0.7rem;

    @media (max-width: 830px) and (orientation: landscape) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }

    @media (orientation: portrait) {
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
    }
  }
}




